{{#if isSettings}}
<table cellpadding="0" cellspacing="0">
    <tr>
    	<td class="title"><em class="required-tag">*</em>真实姓名：</td>
        <td colspan="3">

          <input type="text" class="realname required" name="realName" value="{{realName}}" placeholder="请输入真实姓名">
        </td>
    </tr>
    <tr>
    	<td class="title"><em class="required-tag">*</em>寄送地址：</td>
        <td colspan="3">
        	<div class="address-container">
          	<select name="province" id="Select1"></select>
              <select name="city" id="Select2"></select>
              <select name="country" id="Select3"></select>
            <input id="address" name="address" type="hidden" value="" />
          </div>
        </td>
    </tr>
    <tr>
    	<td></td>
    	<td colspan="3" > 
            <input id="address-street"  type="text" name="street"  value="" class="street required" placeholder="路名或街道地址，门牌号"></td>
    </tr>
    <tr>
    	<td class="title"><em class="required-tag">*</em>邮政编码：</td>
    	<td colspan="3" ><input type="text" name="postalCode" value="" class="postcode required"></td>
    </tr>
    <tr>
    	<td class="title"><em class="required-tag">*</em>手机：</td>
        <td><input type="text" class="telphonenum number required" name="mobile" value=""></td>
        <td class="title">或固定号码：</td>
        <td ><input type="text" class="handnum number required" name="telephone" value=""></td>
    </tr>
    <tr>
     <td colspan="3">
        <input type="button" id="save_address" class="button" value="保存地址">
     </td>
    </tr>
</table>
{{else}}
<div>
  <p class="address-content">没有地址</p><input type="button" value="修改地址">
</div>
{{/if}}