<div id="sign-in-container">
    <div id="sign-in-panel">
      <div class="logo-lg">
        <a href="http://www.lepao.com/" title="到乐跑官网"><img src="img/logo_large.png" width="150" height="65" alt=""></a>
      </div>
      <form id="sign-in-form">
        <div class="form-field">
          <input class="text-input" type="email" name="email" value="" placeholder="邮箱" spellcheck="false" autofocus>
        </div>
        <div class="form-field">
          <input class="text-input" type="password" name="password" value="" placeholder="密码">
        </div>
        <div class="form-field field-wrapper">
          <a class="pull-right" href="/findpsw.html">忘记密码？</a>
         <!-- <label class="checkbox-inline">
            <input class="checkbox" type="checkbox" name="" value=""> 保持我的登录状态
          </label> -->
        </div>
        <div class="text-center">
          <button type="submit" class="btn primary-btn btn-lg">登 录</button>
          <a href="/order/login.do">qq登录</a><a href="/order/weiboLogin.do">微博登录</a>
        </div>
      </form>
    </div>
  </div>